.plantbook-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1100;

  }
  
  .plantbook-content {
    padding: 0px 40px;
    position: relative;
    width: 1000px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .plantbook-close-button img {
    width: 40px;
  }
  
  .nav-button {
    position: absolute;
    width: 50px;
    height: 90px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .left-button {
    left: -10px;
  }
  
  .left-button img{
    width: 70px;
  }
  
  .right-button {
    right: 10px;
  }

  .right-button img{
    width: 70px;
  }

  .nav-button.disabled img {
    display: none; /* 비활성화 상태일 때 이미지를 숨김 */
  }
  
  .plantbook-display {
    padding: 0 20px;
    display: flex;
    flex: 1;
    height: 500px;
    width: 900px;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../assets/images/plantbook/plantbook-b.png');
    background-size:contain; /* 이미지가 컨테이너에 맞도록 조정 */
    background-position: center; /* 이미지 중앙 정렬 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
  }
  
  .plantbook-card {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .plantbook-image {
    margin-top: 20px;
    width: 160px;
    height: 160px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    /* justify-content: center; */
  }

  .left .plantbook-image {
    justify-content:flex-end;
    margin-left:10px;
  }
  
  .plantbook-image img{
    width: 120px;
    height:auto;
    transform: rotate(5deg); /* 52도 회전 */
  }
  
  .left .plantbook-image img{
    transform: rotate(-5deg); /* 52도 회전 */
  }

  .none-img {
    position: absolute; /* 위치를 직접 지정할 수 있도록 설정 */
    transform:none !important;
    width: 290px !important;
    top:57px;
    right: 135px;
  }
  .plantbook-description {
    margin-top: 80px;
    height: 120px;
    width: 250px;
    text-align: center;
    font-size: 18px;
    white-space: pre-line;
  }
  
  .left .plantbook-description {
    margin-left: 15px;
  }
  .right .plantbook-description {
    margin-right: 15px;
  }
  .plantbook-close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
  }
  